/******************************HOME*********************************/
* {
  margin: 0;
  padding: 0;
  user-select: none;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.logo img {
  padding-top: 10px;
  width: 150px;
  height: auto;
  float: left;
}

.row {
  max-width: 1600px;
  margin: auto;
}

.hero {
  position: relative;
  width: 1600px;
  margin-left: 0px;
  margin-top: 0px;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  margin-top: 275px;
}

.button {
  margin-top: 30px;
  margin-left: 630px;
}

.btn {
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
  text-transform: uppercase;
}

.btn-one {
  font-family: "Roboto", sans-serif;
}
.btn-two {
  font-family: "Roboto", sans-serif;
}
.btn-one:hover {
  background-color: darkcyan;
  transition: all 0.5s ease-in;
}

.btn-two:hover {
  background-color: darkcyan;
  transition: all 0.5s ease-in;
}
/********************************SEARCH****************************************/
.box {
  position: absolute;
  top: 8%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.logo-search img {
  position: absolute;
  float: left;
  width: 150px;
  height: auto;
  left: -60%;
  top: 0;
}
.input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}
body {
  background: #29313a;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
  background: #fff;
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}

input[type="submit"] {
  position: relative;
  border-radius: 0 25px 25px 0;
  left: -5px;
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: cyan;
}
input[type="submit"]:hover {
  background-color: darkslateblue;
}
#card-container {
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%);
}
/* Add a card effect for articles */
.card {
  background-color: cyan;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.card:hover {
  background-color: #fff;
}

/********************************PLAYER****************************************/
.input-cue {
  position: relative;
  width: 50%;
  padding: 10px;
  border: 1px solid black;
  resize: none;
  box-sizing: border-box;
  border-radius: 9px;
  height: 50px;
  font-size: 1em;
}
.input-cue:focus {
  outline: none;
  border: 2px solid#4d9fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.video-changer {
  position: relative;
  width: 50%;
  padding: 10px;
  border: 1px solid black;
  resize: none;
  box-sizing: border-box;
  border-radius: 9px;
  height: 50px;
  font-size: 1em;
}
.video-changer:focus {
  outline: none;
  border: 2px solid #4d9fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.button-cue-submit {
  color: white;
  background-color: #4d9fff;
  border: none;
  border-radius: 3px;
  width: 125px;
  height: 30px;
  font-size: 1em;
}
.button-container {
  transform: translate(32%, -220%);

  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.cue-container {
  position: relative;
  height: auto;
  width: 100%;
  transform: translate(5%, -10%);
}

.cue-function-container {
  position: relative;
  transform: translate(-15%, -150%);
}

.outer-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.inner-wrapper {
  top: 100px;
  display: inline-block;
  position: relative;
}

iframe {
  margin-top: 20%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h3 {
  padding-bottom: 10px;
  color: white;
  font-size: 25px;
}

h6 {
  color: white;
  font-size: 18px;
  padding-bottom: 5px;
}
h2 {
  color: white;
  font-size: 20px;
}

p {
  color: white;
  font-size: 14px;
}
#overlay {
  position: absolute;
  left: 20%;
  margin: 10px;
  padding: 5px 5px;
  font-size: 20px;
  display: none;
  background-color: black;
  border-radius: 5px;
  opacity: 5%;
  z-index: 1;
}
#submitted-cues {
  position: relative;
  width: 100%;
}
#cueTable {
  display: table;
  margin: 0 auto;
  border: solid 2px #343a40;
  padding: 5px;
  border-collapse: collapse;
  background: #4d9fff;
}

#cueTable th {
  border: solid 2px black;
  padding: 5px;
  text-align: center;
  color: white;
  width: 200px;
}

#cueTable td {
  border: solid 1px black;
  padding: 5px;
  text-align: center;
  color: white;
}
#cueTable td:hover {
  background-color: red;
}

#cueListTitle {
  text-align: center;
}
