<header>
    <div class="row">
        <div class="logo"><img src="/img/vimeo-logo.png" /></div>

        <div class="hero">
            <h1>Vimeo Video Playback Engineering Challenge</h1>
            <div class="button">
                <a href="/search" class="btn btn-one">The Full Experience</a>
                <a href="/player/183198466" class="btn btn-two">Go to the Player!</a>
            </div>
        </div>
    </div>
</header>