<div class="view-player">
    <div class="content-player">
        <div class="side-player">
            <div id="player">
                <iframe src={{video}} width="1000" height="600" frameborder="0" webkitallowfullscreen
                    mozallowfullscreen allowfullscreen allow="autoplay; encrypted-media"></iframe>

            </div>
        </div>
        <div class="side-cues">
            <textarea id="input-cue" class="input-cue" type="text" name="cue" placeholder="Cue text goes here"></textarea>
            <div class="button-container"><button class="button-cue-submit" onclick="submitCue()">Submit Cue</button></div>

            <textarea type="text" id="video-changer" class="video-changer"></textarea>
            <div class="button-container"><button class="button-cue-submit" onclick="videoChanger()">Change Video</button></div>

            </input>

            <hr>
            <h3>Cues</h3>
            <p>Click on cues to remove them.</p>
            <div id="cues"></div>
        </div>
    </div>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="/js/vimeoPlayer.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>