<div class="box">
    <div class="logo-search"><img src="/img/vimeo-logo.png" /></div>
    <input type="text" name="" id="searchField" placeholder="Search Vimeo for a video!" />
    <input type="submit" value="Search" onclick="submit()" />
</div>
<div class="row">
    <div id="card-container">
    </div>
</div>
<script src="js/search.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>